@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f3f3f3;
  font-family: "Montserrat", sans-serif;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.material-fix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.material-icons {
  background: #7f00ff;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, left top, right top, from(#e100ff), to(#7f00ff));
  background: linear-gradient(to right, #e100ff, #7f00ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 0.5rem;
}

.main-card {
  background-color: #ffffff;
  width: 85vw;
  max-width: 600px;
  -webkit-box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.1), 0 18px 14px 0px rgba(161, 123, 123, 0.1);
          box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.1), 0 18px 14px 0px rgba(161, 123, 123, 0.1);
  border-radius: 0.5rem;
}

.main-card .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-card .front-card {
  width: 40%;
  background: -webkit-gradient(linear, left top, right top, from(#e100ff), to(#7f00ff));
  background: linear-gradient(to right, #e100ff, #7f00ff);
  background-image: url(image.jpg);
  background-size: cover;
  background-position: center center;
  margin-top: -1.5rem;
  margin-left: -1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 18px 14px 0px rgba(161, 123, 123, 0.1);
          box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 18px 14px 0px rgba(161, 123, 123, 0.1);
}

.main-card .left-card {
  width: 60%;
}

.main-card .left-card .wrapper {
  padding: 0 1rem;
}

.main-card .left-card .heading {
  margin-top: 3rem;
  font-size: 1.8em;
  background: #7f00ff;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, left top, right top, from(#e100ff), to(#7f00ff));
  background: linear-gradient(to right, #e100ff, #7f00ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Ubuntu", sans-serif;
}

.main-card .left-card .summary {
  text-align: justify;
  font-size: 0.9em;
  margin-bottom: 1rem;
}

.main-card .left-card p , .main-card .left-card a {
  padding-bottom: 0.3rem;
}

.main-card .left-card .text {
  font-family: "Ubuntu", sans-serif;
  color: #000000;
  text-decoration: none;
}

.main-card .bottom {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 2rem;
  padding-top: 1.2rem;
}

.main-card .bottom p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-card .bottom span {
  font-size: 1.4em;
  margin-right: 0.2rem;
  display: block;
}
/*# sourceMappingURL=style.css.map */